<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div
    class="bg-dark border-right d-flex flex-column"
    id="sidebar-wrapper"
    [class.collapsed]="sidebarCollapsed"
  >
    <div class="sidebar-heading text-white">Dashboard</div>

    <div *ngIf="unauthorizedMessage" class="p-3 text-center text-warning">
      {{ unauthorizedMessage }}
    </div>

    <div *ngIf="!unauthorizedMessage" class="list-group list-group-flush flex-grow-1">
      <a *ngFor="let item of navItems"
         (click)="navigate(item.path)"
         [routerLink]="item.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="list-group-item list-group-item-action bg-dark text-white">
        {{ item.label }}
      </a>
    </div>

    <button class="btn btn-sm btn-light mt-auto m-3" (click)="toggleSidebar()">
      {{ sidebarCollapsed ? 'Expand' : 'Collapse' }}
    </button>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary py-2 px-4 d-none d-lg-block">Create A Mission</button>
    </nav>

    <div class="container-fluid py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
